In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('CompleteResponses.csv')

In [4]:
data.head()

         salary  age  elevel  car  zipcode        credit  brand
0  119806.54480   45       0   14        4  442037.71130      0
1  106880.47840   63       1   11        6   45007.17883      1
2   78020.75094   23       0   15        2   48795.32279      0
3   63689.93635   51       3    6        5   40888.87736      1
4   50873.61880   20       3   14        4  352951.49770      0

## Error Encountered

Code: import panda as pd

Error: No module named 'panda'
    
Solved by: import pandas as pd